{% extends ":Layouts:bbs.html.twig" %}

{% block wrap %}
<header class="bar bar-nav">
	<a class="icon iconfont pull-left goback" href="{{ baseurlAction }}">&#xe613</a>
	<h1 class="title">{{ data['WxDataPlace']['FName'] }}</h1>
</header>
<div class="content npt" id="homepage">
	<div class="scrollbox">
		<div class="banbox" style="-webkit-transform:translate3d(0,0,0);">
			<div id="banner_box" class="box_swipe pr">
				<ul>
					{% if data['WxDataPlace']['FBackPicUrl'] %}
						{% for item in data['WxDataPlace']['FBackPicUrl'] %}
							<li><a href="#">{{ image(item) }}</a></li>
						{% endfor %}
					{% else %}
						<li><a href="#">{{ image('store/shop.jpg') }}</a></li>
						<li><a onclick="return false;">{{ image('store/shop2.jpg') }}</a></li>
						<li><a onclick="return false;">{{ image('store/shop3.jpg') }}</a></li>
					{% endif %}
				</ul>
				<ol id="swposition"><li class="on"></li> <li ></li> <li ></li></ol>
			</div>
		</div>
		<div class="community-hd pr bgwhite pd10 clearfix">
			<a class="disblock a-right" href="{{ baseurlAction }}/info">
				{% if data['WxDataPlace']['FSignPicUrl'] %}
					{{ image(data['WxDataPlace']['FSignPicUrl']) }}
				{% else %}
					{{ image('store/logo.jpg',{"class":"logo"}) }}
				{% endif %}
				<h2 class="com_title f14 plm bgwhite">{{ data['WxDataPlace']['FName'] }}</h2>
				<p><i class="iconfont mrm">&#xe647</i>{{ data['WxDataPlace']['FAddress'] }}</p>
			</a>
		</div>
		<div class="ann pr">
			<h2 class="plm">小区动态</h2>
			<ul>
				{% if data['accArticle'] %}
					{% for key, item in data['accArticle'] %}
						{% if item['cateType'] == '公告' %}
							{% set class = "badge-primary" %}
						{% elseif item['cateType'] == '活动' %}
							{% set class = "badge-positive" %}
						{% elseif item['cateType'] == '优惠' %}
							{% set class = "badge-negative" %}
						{% else %}
							{% set class = "" %}
						{% endif %}
					<li><a data-ignore="push" href="{{ item['WxDataTw']['FPreview'] }}" class="a-right txt-overflow"><span class="badge {{ class }}">{{ item['cateType'] }}</span>{{ item['WxDataTw']['FTitle'] }}</a></li>
					{% endfor %}
				{% else %}
					<li>暂无小区动态。</li>
				{% endif %}
			</ul>
		</div>
		{% for store in data['stores']['datalist'] %}
			<div class="box1 pr bgwhite pd10 clearfix">
				<a class="disblock" data-ignore="push" href="{{ store['WxDataPlStore']['FLinkUrl'] }}">
				<span class="iconfont tag tag1">&#xe645 <i>{{ store['WxDataPlStore']['FTopSign'] }}</i></span>
				{{ image(store['WxDataPlStore']['FPicUrl'], {"class":"pull-right"}) }}
				<h2>{% if store['WxDataPlStore']['FAdTile'] %}
						{{ store['WxDataPlStore']['FAdTile'] }}
					{% else %}
						{{ store['WxDataPlStore']['FName'] }}
					{% endif %}</h2>
				<p class="mtm">{{ store['WxDataPlStore']['FMemo'] }}</p>
				</a>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}


