{% extends ":Layouts:place.html.twig" %}

{% block wrap %}
<header class="bar bar-nav">
	<a class="icon iconfont pull-left goback" href="{{ baseurlAction }}">&#xe613</a>
	<h1 class="title">{{ data['WxDataPlace']['FName'] }}</h1>
</header>
<div class="content" id="service">
	<div class="scrollbox">
		<div class="info_top bgwhite pd10 mtm">
			<h2 class="f14 clearfix" style="margin-bottom:8px;"><i class="iconfont ico-ser mrm">&#xe62d</i>{{ data['WxDataPlace']['FAddress'] }}</h2>
			<p>小区物业：{{ data['WxDataPlace']['FCompanyName'] }}</p>
			<p>幸福驿站：{{ data['WxDataPlace']['FWyAddress'] }}</p>
			<p>物业电话：{{ data['WxDataPlace']['FPhone'] }}<a href="tel:{{ data['WxDataPlace']['FPhone'] }}" class="iconfont ico-telphone mrm pull-right">&#xe62e</a></p>
		</div>
		<div class="info_top bgwhite pd10 mtm">
			<h2 class="f14 clearfix" style="margin-bottom:8px;"><i class="iconfont ico-ser mrm">&#xe608</i>小区交流：</h2>
			<p><i class="iconfont ico-small mrm">&#xe63e</i>小区QQ群：{{ data['WxDataPlace']['FQqQun'] }}</p>
			<p class="txt-center wximg">
				{% if data['WxDataPlace']['FWxQun'] %}
				{{ image(data['WxDataPlace']['FWxQun']) }}
				{% endif %}
			</p>
			<p class="txt-center"><i class="iconfont ico-small mrm">&#xe64b</i>微信群</p>
		</div>
	</div>
	<script class="js-custom">
		var indexIScroll;
		function intscroll() {
			indexIScroll = new IScroll("#service", {disableMouse: !0,disablePointer: !0})
		}
		intscroll();
	</script>
</div>
{% endblock %}