{% extends ":Layouts:store.html.twig" %}

{% block wrap %}
	<header class="bar bar-nav">
		<a class="icon iconfont pull-left goback" href="{{ baseurlAction }}/ucenter">&#xe613</a>
		<h1 class="title">订单中心</h1>
	</header>
	<div id="my_orders" class="content">
		<div class="segmented-control">
			<a class="control-item active" href="#oitem1">未完成</a>
			<a class="control-item" href="#oitem2">待收货</a>
			<a class="control-item" href="#oitem3">已完成</a>
		</div>
		<div class="card">
			<div class="scrollbox">
				{% set item1, item2, item3 = '', '', '' %}
				{% for key,order in data['orders'] %}
					{% if order['WxDataOrder']['Id'] %}
						{% if order['WxDataOrder']['FStatus'] == 2 %}
							{% set rdcss = "greentxt" %}
						{% elseif order['WxDataOrder']['FStatus'] == 3 %}
							{% set rdcss = "greentxt" %}
						{% else %}
							{% set rdcss = "redtxt" %}
						{% endif %}
						{% set var %}
						<div class="orditem">
							<h2><span class="ord_id">订单编号：{{ order['WxDataOrder']['C_Order'] }}</span><span class="ordtime pull-right">{{ order['WxDataOrder']['FCreatedate'] }}</span></h2>
							<div class="pd10">
								<table class="orditem_main" width="100%" cellspacing="0" cellpadding="0">
									<tr>
										<th colspan="2"><i class="iconfont">&#xe627</i><span class="st-name">店铺：{{ order['WxDataStore']['FName'] }}</span></th>
									</tr>
									{% for product in order['WxDataOrder']['FProduct'] %}
										<tr>
											<td>{{ product['title'] }}</td>
											<td class="txt-right">{{ product['count'] }} X ¥{{ product['price'] }}</td>
										</tr>
									{% endfor %}
								</table>
							</div>
							<div class="orditem_ft clearfix">
								<span class="pull-left">共计：<span class="redtxt"> {{ order['WxDataOrder']['FPrice'] }}元</span></span>
								<span class="ordstatus pull-right {{ rdcss }}">{{ order['WxDataOrder']['C_Status'] }}</span>
							</div>
						</div>
						{% endset %}
						{% if order['WxDataOrder']['FStatus'] == 1 %}
							{% set item1 = "#{item1}#{var}" %}
						{% elseif order['WxDataOrder']['FStatus'] == 2 %}
							{% set item2 = "#{item2}#{var}" %}
						{% elseif order['WxDataOrder']['FStatus'] == 3 %}
							{% set item3 = "#{item3}#{var}" %}
						{% endif %}
					{% endif %}
				{% endfor %}
				<div id="oitem1" class="orderbox control-content active">
					{{ item1|raw }}
				</div>
				<div id="oitem2" class="orderbox control-content">
					{{ item2|raw }}
				</div>
				<div id="oitem3" class="orderbox control-content">
					{{ item3|raw }}
				</div>
			</div>
		</div>
		<script class="js-custom">
			var OrderIScroll;
			function intscroll() {
				OrderIScroll = new IScroll(".card", {disableMouse: !0,disablePointer: !0})
			}
			intscroll();
			$(".segmented-control").on("tap", "a", function(){
				intscroll();
			});
		</script>
	</div>
{% endblock %}
{% block footer %}{% endblock %}