{% extends ":Layouts:place.html.twig" %}

{% block wrap %}
<header class="bar bar-nav">
	<h1 class="title">便民中心</h1>
</header>
<div class="content" id="service">
	<div class="scrollbox">
		<div class="ser_box bgwhite pd10 mtm">
			<h2 class="f14 clearfix "><i class="iconfont ico-ann mrm">&#xe632</i>小区公告： </h2>
			<ul class="sb_items">
				{% if data['accArticle'] %}
					{% for key, item in data['accArticle'] %}
					<li>
						<a data-ignore="push" href="{{ item['WxDataTw']['FPreview'] }}" class="txt-overflow a-right">{{ key+1 }}. {{ item['WxDataTw']['FTitle'] }}<span class="pull-right">{{ item['WxDataTw']['C_FCreatedate'] }}</span></a>
					</li>
					{% endfor %}
				{% else %}
					<li>暂无公告。</li>
				{% endif %}
			</ul>
		</div>
		<div class="ser_box bgwhite pd10 mtm">
			<h2 class="f14 clearfix "><i class="iconfont ico-guide mrm">&#xe624</i>办事指南： </h2>
			<ul class="sb_items">
				{% if data['thsArticle'] %}
					{% for key, item in data['thsArticle'] %}
					<li>
						<a data-ignore="push" href="{{ item['WxDataTw']['FPreview'] }}" class="txt-overflow a-right">{{ key+1 }}. {{ item['WxDataTw']['FTitle'] }}<span class="pull-right">{{ item['WxDataTw']['C_FCreatedate'] }}</span></a>
					</li>
					{% endfor %}
				{% else %}
					<li>暂无办事指南。</li>
				{% endif %}
			</ul>
		</div>
		<div class="ser_box bgwhite pd10 mtm mbm">
			<h2 class="f14 clearfix "><i class="iconfont ico-phones mrm">&#xe623</i>便民电话： </h2>
			<ul class="sb_items">
				{% if data['WxDataPlace']['C_FPlPhone'] %}
					{% for item in data['WxDataPlace']['C_FPlPhone'] %}
						{% for item_k, item_v in item %}
							<li><a href="tel:{{ item_v[0] }}">{{ item_k }} <br/> <i class="iconfont">&#xe63c</i> {{ item_v['phone'] }}</a></li>
						{% endfor %}
					{% endfor %}
				{% else %}
				<li><a href="tel:010-80367161">物业服务中心电话 <br/> <i class="iconfont">&#xe63c</i> 010-80367161，80367181-200</a></li>
				<li><a href="tel:80367181-200">小区水站送水 <br/> <i class="iconfont">&#xe63c</i> 80367181-200</a></li>
				<li><a href="tel:010-80351101">办理小区宽带 <br/> <i class="iconfont">&#xe63c</i> 010-80351101</a></li>
				<li><a href="tel:010-80351256">办理歌华有线电话 <br/> <i class="iconfont">&#xe63c</i> 010-80351256</a></li>
				<li><a href="tel:010-80356217">燃气公司电话 <br/> <i class="iconfont">&#xe63c</i> 96777，010-80356217</a></li>
				{% endif %}
			</ul>
		</div>
		<div style="height: 50px;"></div>
	</div>
<!--
    <div style="width:95%; margin:0px auto;">
        <div id="mcover" onclick="document.getElementById('mcover').style.display='';" style="display:none;">
            <img src="http://stc.weimob.com/img/guide.png?=2014-02-25-10">
        </div>
        <div class="share_box cl">
            <div id="mess_share">
                <div id="share_1" class="share_btn">
                    <a class="button2" onclick="document.getElementById('mcover').style.display='block';">
                        &nbsp;发送给朋友
                    </a>
                </div>
                <div id="share_2" class="share_btn fr">
                    <a class="button2" onclick="document.getElementById('mcover').style.display='block';">
                        &nbsp;分享到朋友圈
                    </a>
                </div>
            </div>
        </div>
    </div>
    -->
</div>
<script class="js-custom">
	var serviceIScroll;
	function intscroll() {
		serviceIScroll = new IScroll("#service", {disableMouse: !0,disablePointer: !0,preventDefault: 0})
	}
	intscroll();
	$(".content").on("tap", "a[data-ignore=push]", function() {
		document.location.href = $(this).attr("href");
	});
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        window.shareData = {
            "imgUrl": "2.jpg",
            "timeLineLink": "http://zaiwx.com",
            "sendFriendLink": "http://zaiwx.com",
            "weiboLink": "http://zaiwx.com",
            "tTitle": "测试",
            "tContent": "测试",
            "fTitle": "测试",
            "fContent": "测试",
            "wContent": "测试"
        };

        // 发送给好友
        WeixinJSBridge.on('menu:share:appmessage', function (argv) {
            WeixinJSBridge.invoke('sendAppMessage', {
                "img_url": window.shareData.imgUrl,
                "img_width": "640",
                "img_height": "640",
                "link": window.shareData.sendFriendLink,
                "desc": window.shareData.fContent,
                "title": window.shareData.fTitle
            }, function (res) {
                _report('send_msg', res.err_msg);
            })
        });
        // 分享到朋友圈
        WeixinJSBridge.on('menu:share:timeline', function (argv) {
            WeixinJSBridge.invoke('shareTimeline', {
                "img_url": window.shareData.imgUrl,
                "img_width": "640",
                "img_height": "640",
                "link": window.shareData.timeLineLink,
                "desc": window.shareData.tContent,
                "title": window.shareData.tTitle
            }, function (res) {
                _report('timeline', res.err_msg);
            });
        });
        // 分享到微博
        WeixinJSBridge.on('menu:share:weibo', function (argv) {
            WeixinJSBridge.invoke('shareWeibo', {
                "content": window.shareData.wContent,
                "url": window.shareData.weiboLink,
            }, function (res) {
                _report('weibo', res.err_msg);
            });
        });
    }, false)
</script>
{% endblock %}


