{% extends ":Layouts:place.html.twig" %}

{% block wrap %}
	<header class="bar bar-nav hd">
		<h1 class="title">店铺列表
		</h1>
	</header>
	<div class="content" id="stores">
		<div id="stypes" class="bar bar-standard bar-header-secondary bgwhite">
			<div class="typescroll">
				<span class="on" data-type="t_all">全部</span>
				{% for key,cate in data['cates'] %}
					<span data-type="t_{{ cate }}">{{ cate }}</span>
				{% endfor %}
			</div>
		</div>
		<div class="store-list" {% if data['cates'] %}style="top:88px"{% endif %}>
			<div id="scroller3">
				<ul>
					{% for store in data['stores']['datalist'] %}
						<li class="st_{{ store['WxDataPlStore']['FCategory'] }}">
							<div class="st-item cl">
								<a data-ignore="push" class="disblock" href="{{ store['WxDataPlStore']['FLinkUrl'] }}">
								{{ image(store['WxDataPlStore']['FPicUrl']) }}
								<h2>
									{{ store['WxDataPlStore']['FName'] }}
									{% if store['WxDataPlStore']['FIsHot'] %}<i class="icofont ico-hot">热</i>{% endif %}
									{% if store['WxDataPlStore']['FIsRecmd'] %}<i class="icofont ico-jian">荐</i>{% endif %}
									{% if store['WxDataPlStore']['FIsBuy'] %}<i class="icofont ico-gou">购</i>{% endif %}
								</h2>
								<p>营业时间：{{ store['WxDataPlStore']['FOrderTime'] }}</p>
								<p><span>地址：</span>{{ store['WxDataPlStore']['FAddress'] }}</p>
								</a>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<script class="js-custom">
			var StoreIScroll,StoreTypeIScroll;
			function intscroll() {
				StoreIScroll = new IScroll(".store-list", {disableMouse: !0,disablePointer: !0}),
				StoreTypeIScroll = new IScroll("#stypes", {scrollX: !0,scrollY: !1,mouseWheel: !0,disableMouse: !0,disablePointer: !0})
			}
			intscroll();
			$("#stypes").on("tap", "span", function(){
				$("#stypes span").removeClass("on");
				$(this).addClass("on");
				var typec = $(this).attr("data-type");
				if(typec == "t_all") {
					$(".store-list li").show();
				} else {
					$(".store-list li").hide();
					$(".store-list").find(".s"+typec).show();
				}
				intscroll();
			});
			$(".content").on("tap", "a[data-ignore=push]", function() {
				document.location.href = $(this).attr("href");
			});
		</script>
	</div>
{% endblock %}