{% extends ":Layouts:place.html.twig" %}

{% block wrap %}
<div class="content npt" id="homepage">
	<div class="scrollbox">
		<div class="banbox" style="-webkit-transform:translate3d(0,0,0);">
			<div id="banner_box" class="box_swipe pr">
				<ul>
					{% if data['WxDataPlace']['FBackPicUrl'] %}
						{% for item in data['WxDataPlace']['FBackPicUrl'] %}
							<li><a href="#">{{ image(item) }}</a></li>
						{% endfor %}
					{% else %}
						<li><a href="#">{{ image('store/shop.jpg') }}</a></li>
						<li><a onclick="return false;">{{ image('store/shop2.jpg') }}</a></li>
						<li><a onclick="return false;">{{ image('store/shop3.jpg') }}</a></li>
					{% endif %}
				</ul>
				<ol id="swposition"><li class="on"></li> <li ></li> <li ></li></ol>
			</div>
		</div>
		<div class="community-hd pr bgwhite pd10 clearfix">
			<a class="disblock a-right" href="{{ baseurlAction }}/info">
				{% if data['WxDataPlace']['FSignPicUrl'] %}
					{{ image(data['WxDataPlace']['FSignPicUrl']) }}
				{% else %}
					{{ image('store/logo.jpg',{"class":"logo"}) }}
				{% endif %}
				<h2 class="com_title f14 plm bgwhite">{{ data['WxDataPlace']['FName'] }}</h2>
				<p><i class="iconfont mrm">&#xe647</i>{{ data['WxDataPlace']['FAddress'] }}</p>
			</a>
		</div>
		<div class="ann pr">
			<h2 class="plm">小区动态</h2>
			<ul>
				{% if data['accArticle'] %}
					{% for key, item in data['accArticle'] %}
						{% if item['cateType'] == '公告' %}
							{% set class = "badge-primary" %}
						{% elseif item['cateType'] == '活动' %}
							{% set class = "badge-positive" %}
						{% elseif item['cateType'] == '优惠' %}
							{% set class = "badge-negative" %}
						{% else %}
							{% set class = "" %}
						{% endif %}
					<li><a data-ignore="push" href="{{ item['WxDataTw']['FPreview'] }}" class="a-right txt-overflow"><span class="badge {{ class }}">{{ item['cateType'] }}</span>{{ item['WxDataTw']['FTitle'] }}</a></li>
					{% endfor %}
				{% else %}
					<li>暂无小区动态。</li>
				{% endif %}
			</ul>
		</div>
		{% for store in data['stores']['datalist'] %}
			<div class="box1 pr bgwhite pd10 clearfix">
				<a class="disblock" data-ignore="push" href="{{ store['WxDataPlStore']['FLinkUrl'] }}">
				<span class="iconfont tag tag1">&#xe645 <i>{{ store['WxDataPlStore']['FTopSign'] }}</i></span>
				{{ image(store['WxDataPlStore']['FPicUrl'], {"class":"pull-right"}) }}
				<h2>{% if store['WxDataPlStore']['FAdTile'] %}
						{{ store['WxDataPlStore']['FAdTile'] }}
					{% else %}
						{{ store['WxDataPlStore']['FName'] }}
					{% endif %}</h2>
				<p class="mtm">{{ store['WxDataPlStore']['FMemo'] }}</p>
				</a>
			</div>
		{% endfor %}
		<div class="share_box cl">
			<div id="mess_share">
				<div id="share_1" class="share_btn">
					<a class="button2">
						&nbsp;发送给朋友
					</a>
				</div>
				<div id="share_2" class="share_btn fr">
					<a class="button2">
						&nbsp;分享到朋友圈
					</a>
				</div>
			</div>
		</div>
		<div style="height: 50px;"></div>
	</div>
</div>
<script class="js-custom">
	$(document).on("tap","#mcover", function(){$(this).remove();});
	$(".share_btn a").on("tap", function() {
		$("#mcover") ? $("body").append('<div id="mcover" >{{ image("store/guide.png") }}</div>') : '';
	});
    $(function(){
        new Swipe(document.getElementById('banner_box'), {
            speed:500,
            auto:3000,
            callback: function(){
                var lis = $(this.element).next("ol").children();
                lis.removeClass("on").eq(this.index).addClass("on");
            }
        });
    });
	var indexIScroll;
	function intscroll() {
		indexIScroll = new IScroll("#homepage", {disableMouse: !0,disablePointer: !0})
	}
	intscroll();
	$(".content").on("tap", "a[data-ignore=push]", function() {
		document.location.href = $(this).attr("href");
	});
	var imgUrl = BASE_URL + "{{ data['WxDataPlace']['FSignPicUrl'] }}",
			lineLink = "{{ wxUrl(baseurlAction, {'appid': appid}) }}",
			shareTitle = "{{ data['WxDataPlace']['FName'] }}",
			descContent = "{{ data['WxDataPlace']['FMemo'] }}",
			appid = '';

	function shareFriend() {
		WeixinJSBridge.invoke('sendAppMessage',{
			"appid": appid,
			"img_url": imgUrl,
			"img_width": "200",
			"img_height": "200",
			"link": lineLink,
			"desc": descContent,
			"title": shareTitle
		}, function(res) {
			//_report('send_msg', res.err_msg);
		})
	}
	function shareTimeline() {
		WeixinJSBridge.invoke('shareTimeline',{
			"img_url": imgUrl,
			"img_width": "200",
			"img_height": "200",
			"link": lineLink,
			"desc": descContent,
			"title": shareTitle
		}, function(res) {
			//_report('timeline', res.err_msg);
		});
	}
	function shareWeibo() {
		WeixinJSBridge.invoke('shareWeibo',{
			"content": descContent,
			"url": lineLink
		}, function(res) {
			//_report('weibo', res.err_msg);
		});
	}
	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
		// 发送给好友
		WeixinJSBridge.on('menu:share:appmessage', function(argv){
			shareFriend();
		});
		// 分享到朋友圈
		WeixinJSBridge.on('menu:share:timeline', function(argv){
			shareTimeline();
		});
		// 分享到微博
		WeixinJSBridge.on('menu:share:weibo', function(argv){
			shareWeibo();
		});
	}, false);
</script>
{% endblock %}


