{% extends ":Layouts:store.html.twig" %}

{% block wrap %}
<!-- Main Content -->
<div id="cart" class="content npt">
    <div class="address">
        <span class="icon iconfont pull-left">&#xe602</span>
        <a class="useadr disblock" href="{{ baseurlAction }}/address"><span class="disblock mtm">马上设置收获地址 >></span></a>
    </div>
    <div id="cartbox" class="cart">
		<div id="scroller3">
			<ul class="p-list"></ul>
			<div id="chbox" class="pricebox pbm">
				<p class="t_price txt-right">总价： <span class="redtxt" data-total="0" data-minprice="0">¥<i class="total bnum">0</i></span></p>
				<p class="carriage txt-right">配送费： ¥<span id="tranprice">{{ data['WxDataStore']['FDevCost'] }}</span></p>
				<p id="order1" class="txt-right" style="display:none">优惠： 首次下单立减 <span class="redtxt">¥<i>{{ data['WxDataStore']['FCouponsFirst'] }}</i></span></p>
				<p class="endprice txt-right">应付金额： <span class="redtxt">¥<i id="paynum">0</i></span></p>
			</div>
			<div class="paymode bgwhite clearfix pd10 mtm"><a class="on pull-right" href="javascript:;">货到付款</a></div>
			<div class="messagebox"><input type="text" name="message" id="message" placeholder="若有特殊要求请留言"></div>
			<div class="gettime bgwhite">
				<span class="pull-left">配送时间</span>
				<div class="timeselector">
					<select class="cday">
						<option value ="今天">今天</option>
						<option value ="明天">明天</option>
					</select>
					<select class="ctime">
						<option value ="0">收货时间</option>
						<option value ="7点 - 9点">7点 - 9点</option>
						<option value ="10点 - 12点">10点 - 12点</option>
						<option value ="13点 - 15点">13点 - 15点</option>
						<option value ="15点 - 17点">15点 - 17点</option>
						<option value ="18点 - 20点">18点 - 20点</option>
					</select>
				</div>
			</div>
			<div class="cart_ac mbm mtm">
				<button class="btn btn-ordersub"><span class="orderact">提交订单</span><span class="ordertip">未达起送价格（还差<i>{{ data['WxDataStore']['FSendPrice'] }}</i>元）</span></button>
			</div>
		</div>
    </div>
    <script class="js-custom">
		parseInt($.dstore.isfirst) && parseInt($.dstore.openfirst) ? $("#order1").show() : $("#order1").remove();
        //jsorder配置
		$.fn.jsorder({
			staticname : $.dstore.storeid,
			savecookie : true,
			cookiename : $.dstore.storeid,
			pricefiled : 'price',
			subbutton : '.ac-del',
			addbutton : '.ac-add',
			submitbut : '.btn-ordersub',
			onpage : 'cart'
		});
        //地址初始化
        var tobj = $("body").data($.dstore.storeid),
            adr = JSON.parse(storage.getItem("address")),
            orderhtml = $('<div><ul class="orders"></ul></div>').find(".orders"),
            adrhtm = $('.useadr'),
			realpay = 0,
			fromstartprice = 0,
			firstcondition = parseInt($.dstore.isfirst) && parseInt($.dstore.openfirst);
			realprice = 0;
		function Isempty(obj) {
			for(var name in obj){
				if(obj[name] == '') return false;
			}
			return true;
		}
        if(!Isempty(adr)) {
			adrhtm.html('<span class="mtm disblock">马上完善收货地址 >></span>');
        } else {
			adrhtm.html("<span class='adr_name mrm f14'>收货人 : "+ adr.fullname +"</span><span class='adr_phone pull-right'>"+ adr.phone +"</span><p class='adr_street f12'>"+ adr.address +"</p>");
        }
        if(!$.isEmptyObject(tobj)) {
            $.each(tobj ,function(n, jso){
                orderhtml.append('<li id="' + jso.pid + '" class="clearfix" data-price="'+ jso.price + '"><img src="'+ jso.pic +'" /><h2>'+ jso.title + '</h2><div class="ip-list-bt"><span class="price-now">¥'+ jso.price + '/'+ jso.unit +' </span></div><div class="actbox txt-right"><a class="ac-add iconfont" href="javascript:;">&#xe650</a><span class="ordernum disinb">'+ jso.count + '</span><a href="javascript:;" class="ac-del iconfont disinb">&#xe651</a></div></li>');
				realprice += FormatNum(FormatNum(jso.price) * FormatNum(jso.count));
            });
			realprice = FormatNum(realprice);
            tmphtml = orderhtml.html();
			$(".p-list").html(tmphtml);
        } else {
			tmphtml ="";
			$('#cartempty').show();
        }
		if( realprice < FormatNum($.dstore.startprice)) {
			//差价
			fromstartprice = FormatNum(FormatNum($.dstore.startprice) - realprice);
			//应付
			realpay = firstcondition > FormatNum($.dstore.firstcut) ? realprice + FormatNum($.dstore.sendprice) - FormatNum($.dstore.firstcut) : realprice + FormatNum($.dstore.sendprice);
			$("#chbox #paynum").text(realpay);

			$(".ordertip i").text(fromstartprice);
			$(".btn-ordersub span").hide();
			$(".ordertip").show();
		} else if(FormatNum($.dstore.startprice) <= realprice && realprice < FormatNum($.dstore.freeprice)) {
			//应付
			realpay = firstcondition ? realprice + FormatNum($.dstore.sendprice) - FormatNum($.dstore.firstcut) : realprice + FormatNum($.dstore.sendprice);
			$("#chbox #paynum").text(realpay);

			$(".btn-ordersub").addClass("active");
			$(".btn-ordersub span").hide();
			$(".orderact").show();
		} else {
			$("#tranprice").text('0');
			//应付
			realpay = firstcondition ? realprice - FormatNum($.dstore.firstcut) : realprice;
			$("#chbox #paynum").text(realpay);

			!$(".btn-ordersub").hasClass("active") ? $(".btn-ordersub").addClass("active") : '';
			$(".btn-ordersub span").hide();
			$(".orderact").show();
		}
		/*
		if(realprice > $.dstore.startprice){
			$(".btn-ordersub").addClass("active");
			$(".btn-ordersub span").hide();
			$(".orderact").show();
		} else {
			fromstartprice = FormatNum(FormatNum($.dstore.startprice) - realprice);
			$(".ordertip i").text(fromstartprice);
			$(".btn-ordersub span").hide();
			$(".ordertip").show();
		}
		if(realprice > $.dstore.freeprice){
			$("#tranprice").text("0");
			realpay = $.dstore.isfirst ? realprice - FormatNum($.dstore.firstcut) : realprice;
			$("#chbox #paynum").text(realpay);
		} else {
			$("#tranprice").text($.dstore.sendprice);
			realpay = $.dstore.isfirst ? realprice + FormatNum($.dstore.sendprice) - FormatNum($.dstore.firstcut) : realprice;
			$("#chbox #paynum").text(realpay);
		}
		*/
        $("#chbox .total").text(realprice);
		var cartIScroll;
		function intscroll() {
			cartIScroll = new IScroll("#cartbox", {disableMouse: !0,disablePointer: !0})
		}
		intscroll();
    </script>
</div>
<section id="cartempty" class="__page__">
	<div class="cartempty-icon iconfont txt-center" style="font-size: 100px;line-height:100px;margin-top: 60px;color:#ccc;">&#xe63b</div>
	<div class="cartempty-text">
		<p class="txt-center f16">购物车为空哦，快去选购吧</p>
	</div>
</section>
<section id="page-ordersuc" class="__page__ f14">
	<div class="iconfont ordersuc">&#xe64d</div>
	<div class="ordersuccess-text txt-center">
		<p>您的订单已经提交成功！</p>
	</div>
	<div class="ordersuc-ac txt-center mtm">
		<a class="mrm" href="{{ baseurlAction }}/shopping">继续选购</a> <a href="{{ baseurlAction }}/orders">查看订单</a>
	</div>
</section>

{% endblock %}