{% extends ":Layouts:store.html.twig" %}

{% block wrap %}
<header class="bar bar-nav">
	<a class="icon iconfont pull-left goback"  data-transition="slide-out" href="{{ baseurlAction }}/ucenter">&#xe613</a>
	<h2 class="title">我的资料</h2>
</header>
<div id="person" class="content">
		<form id="personalform" class="input-group" method="post" action="{{ baseurlAction }}/member-reg">
			<input type="hidden" name="webchatid" id="p_webchatid" value="{{ data['WxDataStore']['FWebchat'] }}"/>
			<div class="bgwhite mtm">
				<div class="input-row pr">
					<label class="pa">姓 名：</label>
					<input type="text" name="username" id="p_username" placeholder="点击输入" value="{{ user['FullName'] }}">
					<div></div>
				</div>
				<div class="input-row pr">
					<label class="pa">联系电话：</label>
					<input type="text" name="phone" id="p_phone" placeholder="点击输入" value="{{ user['FPhone'] }}">
					<div></div>
				</div>
				<div class="input-row pr">
					<label class="pa">小区地址：</label>
					<input type="text" name="address" id="p_address" placeholder="例如：XX小区X号院X号楼X单元XXX" value="{{ user['FAddress'] }}">
					<div></div>
				</div>
			</div>
			<div class="ac_box pbm">
				<button type="button" class="btn btn-positive txt-center btn-save">保存</button>
			</div>
		</form>

	<div class="ui-mask"></div>
	<div id="attention-dialog" class="attention-layout"></div>
    <script class="js-custom">
		$("#personalform").checkForm({
			'#p_username': {e: '请输入姓名', w: '电话格式不正确！', r: '', t: 'next'},
			'#p_phone': {e: '请输入电话', w: '电话格式不正确！', r: 'phone', t: 'next'},
			'#p_address': {e: '请输入地址', w: '', r: 'address', t: 'next'}
		});
		$(".btn-save").on("tap", function() {
			var h, i, j, w, p;
			var formdata = $("#addressform"),
					addrlist = $(".addrlist");
			if($("#personalform").find('.check-error').length){alert("请检查提交数据");return false;}
			//向服务器提交数据
			h = $("#p_username").val(),
					i = $("#p_phone").val(),
					j = $("#p_address").val(),
					w = $("#p_webchatid").val()
			p = JSON.stringify({"webchatid":w,"fullname":h,"phone":i,"address":j});
			$.ajax({
				type: "POST",
				url: "{{ rooturl }}api/wxUser",
				dataType: "json",
				data: p,
				success: function(a) {
					ShowAttention(a.msg),
							hideLoader(),
					storage.setItem("address", p);
				},
				error: function(a) {
					ShowAttention(a.msg),
							hideLoader()
				}
			})
		});
    </script>
</div>
{% endblock %}
{% block footer %}{% endblock %}