{% extends ":Layouts:store.html.twig" %}

{% block wrap %}
<!-- Main Content -->
<div id="buylist" class="content npt">
    <div id="categorys" class="segmented-control">
		<div class="scrollbox2">
		{% for key,cate in data['category'] %}
			{% if key == 0 %}{% set active = "active" %}{% else %}{% set active = "" %}{% endif %}
			<a id="cat_dp{{ key }}" class="control-item {{ active }}" href="#dp{{ key }}"><span class="bnum">0</span>{{ cate['FName'] }}</a>
		{% endfor %}
		</div>
    </div>
    <div id="ip" class="p-list">
		<div class="scrollbox">
			{% for key,cate in data['category'] %}
				{% if key == 0 %}{% set active = "active" %}{% else %}{% set active = "" %}{% endif %}
				<ul id="dp{{ key }}" class="control-content {{ active }}">
					{% for product in cate['products'] %}
						<li id="{{ product['WxDataTw']['Id'] }}" class="clearfix" data-cat="dp{{ key }}" data-pic="{{ product['WxDataTw']['FUrl'] }}" data-title="{{ product['WxDataTw']['FTitle'] }}" data-price="{{ product['WxDataTwProduct']['FPrice'] }}" data-unit="{{ product['WxDataTwProduct']['FUnit'] }}">
							{{ image(product['WxDataTw']['FUrl']) }}
							<p class="pdesc">{{ product['WxDataTw']['FMemo'] }}</p>
							<h2>{{ product['WxDataTw']['FTitle'] }}</h2>
							{% if product['WxDataTwProduct']['FIsClosed'] %}
								<div class="redtxt mtm">此商品即将上线，敬请期待</div>
							{% else %}
								<div class="ip-list-bt mtm">
									<del class="price-old">¥{{ product['WxDataTwProduct']['FOrigPrice'] }}</del>
									<span class="price-now">¥<i>{{ product['WxDataTwProduct']['FPrice'] }}</i>/<em class="unit">{{ product['WxDataTwProduct']['FUnit'] }}</em></span>
								</div>
								{% if product['WxDataTw']['FLink'] %}<a class="goshopping actbox txt-right pull-right" data-ignore="push" href="{{ product['WxDataTw']['FLink'] }}">点击购买</a>{% else %}<div class="actbox txt-right"><a href="javascript:;" class="ac-add iconfont">&#xe650</a><span class="ordernum">0</span><a href="javascript:;" class="ac-del iconfont">&#xe651</a></div>{% endif %}
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			{% endfor %}
			<div style="height: 50px;"></div>
		</div>
    </div>
	<div id="chbox" class="bar bar-standard bar-footer-secondary chbox">
		已选：<span class="bnum bnumcss mrm">0</span> 总价： ¥<span class="total bnumcss">0</span><a href="{{ baseurlAction }}/cart" class="chok fr">选好了</a>
	</div>
    <script class="js-custom">
		var TypeIScroll, productScroll;
		function intscroll() {
			TypeIScroll = new IScroll("#categorys", {disableMouse: !0,disablePointer: !0}),
			productScroll = new IScroll("#ip", {disableMouse: !0,disablePointer: !0})
		}
		intscroll();
		$("body").on("tap", "#categorys", function(){ intscroll()});
		document.addEventListener("touchmove", function(a) { a.preventDefault()}, !1);
        //jsorder配置
        $.fn.jsorder({
            staticname : $.dstore.storeid,
            savecookie : true,
            cookiename : $.dstore.storeid,
            pricefiled : 'price',
            subbutton : '.ac-del',
            addbutton : '.ac-add',
			submitbut : '.btn-ordersub',
            onpage : 'shopping'
        });
        var tobj = $("body").data($.dstore.storeid);
        var catnum = [],
            ordernum = 0,
            allprice = 0;
        if(!$.isEmptyObject(tobj)) {
            $.each(tobj, function(n, jso){
                $("#"+jso.pid).find(".ordernum").text(jso.count).show();
                $("#"+jso.pid).find(".ac-del").show();
                if (catnum[jso.cat] == null) {
                    catnum[jso.cat] = FormatNum(jso.count);
                } else {
                    catnum[jso.cat] = FormatNum(catnum[jso.cat])+ FormatNum(jso.count);
                }
                ordernum += FormatNum(jso.count);
                allprice += FormatNum(FormatNum(jso.count)*FormatNum(jso.price));
            });
            for(i in catnum){
                $("#cat_" + i).find(".bnum").text(catnum[i]).show();
            };
            $("#chbox .bnum").text(ordernum);
            $("#chbox .total").text(FormatNum(allprice));
            $("#chbox").show();
        }
		//显示商品详情ShowProduct
		function getProduct(event){
			var temhtml = $("<div></div>"),
				pname = $(this).parent().attr("data-title");console.log($(this));
			ppic = $(this).parent().attr("data-pic");
			pdesc = event.data.gtype == "prev" ? $(this).prev().html() : $(this).next().html();
			temhtml.append('<h2 class="pre_pt">'+ pname +'<i class="iconfont preclose">&#xe62c</i></h2><div class="pre_img"><img src="'+ BASE_URL + ppic +'" /></div><p class="pre_sum">'+ pdesc +'</p>');
			ShowProduct(temhtml.html());
		}
		$("body").off("tap",".control-content li img");
		$("body").off("tap",".control-content li h2");
		$("body").on("tap", ".control-content li img",{ gtype: "next" },getProduct);
		$("body").on("tap", ".control-content li h2",{ gtype: "prev" },getProduct);
		$("body").on("tap", ".preclose", function(){
			$("#mcover").remove();
		});
		$(".content").on("tap", "a[data-ignore=push]", function() {
			document.location.href = $(this).attr("href");
		});
    </script>
</div>
{% if data['category'][0]['Id'] == '' %}
	<section id="shopempty" class="__page__" style="display: block;background: #FFF;position: absolute;">
		<div class="cartempty-icon iconfont txt-center" style="font-size: 100px;line-height:100px;margin-top: 60px;color:#ccc;">&#xe627</div>
		<div class="cartempty-text">
			<p class="txt-center f16">此店铺还没有添加商品，敬请期待！</p>
		</div>
	</section>
{% endif %}
{% endblock %}