{% extends ":Layouts:store.html.twig" %}

{% block wrap %}
<header class="bar bar-nav st-hd">
	<a data-ignore="push" href="{{ url('/mob/store?id=') }}{{ data['WxDataStore']['FWebchat'] }}" data-transition="slide-out" class="iconfont pa" style="width:40px;line-height:20px;padding-top:12px;font-size:24px;color:#929292;float:left;z-index:8;">&#xe635</a>
	<h1 class="title">{{ data['WxDataStore']['FName'] }}</h1>
</header>
<div id="store" class="content">
	<div class="scrollbox">
		<div class="store-hd">
			<div class="store-ft">
				<img src="{{ data['WxDataStore']['FSignPicUrl'] }}" class="logo">
				<h2>{{ data['WxDataStore']['FName'] }}</h2>
			</div>
			<div class="stbanner">{% if data['WxDataStore']['FBackPicUrl'] %}{{ image(data['WxDataStore']['FBackPicUrl']) }}{% else %}{{ image('store/shop.jpg') }}{% endif %}</div>
		</div>
		<div id="an" class="ann bgwhite clearfix">
			<dl class="pull-left">
				<dt class="z xw1"><i class="iconfont mrm pull-left">&#xe606</i>&nbsp;</dt>
				<dd>
					<div id="anc">
						<ul id="ancl">
							{% if data['accArticle'] %}
								{% for arc in data['accArticle'] %}
								<li><a data-ignore="push" href="{{ arc['WxDataTw']['FPreview'] }}"><span class="f14">{{ arc['WxDataTw']['FTitle'] }}</span></a></li>
							{% endfor %}
							{% else %}
								<li><span class="f14">{{ data['WxDataStore']['FName'] }}开业大酬宾！</span></li>
							{% endif %}
							
						</ul>
					</div>
				</dd>
			</dl>
		</div>
		<div class="stin mtm">
			<h4><i class="iconfont mrm">&#xe62d</i>{{ data['WxDataStore']['FAddress'] }}</h4>
			<ul>
				<li><span>营业时间：</span>{% if data['WxDataStore']['FOrderTime'] %}{{data['WxDataStore']['FOrderTime']}}{% else %}早9:00 - 晚8:00{% endif %}</li>
				<li><span>联系电话：</span>{{ data['WxDataStore']['C_FPhone'] }}    <a class="fr iconfont hphone" href="tel:{{ data['WxDataStore']['FPhone'] }}">&#xe62e</a></li>
				<li><span>起送价格：</span>¥{{ data['WxDataStore']['FSendPrice'] }}{% if data['WxDataStore']['FDevCost'] != 0 %}（配送费{{ data['WxDataStore']['FDevCost'] }}元）{% endif %}</li>
				<li><span>服务半径：</span>{{ data['WxDataStore']['C_FDevDistance'] }}公里内可送{% if data['WxDataStore']['FDevArea'] %}（{{ data['WxDataStore']['FDevArea'] }}）{% endif %}</li>
				{% if data['WxDataStore']['C_IsCoupons'] %}
					<li><span>店铺优惠：</span>{{ data['WxDataStore']['C_Coupons'] }}</li>
				{% endif %}
			</ul>
		</div>
		<div class="share_box cl">
			<div id="mess_share">
				<div id="share_1" class="share_btn">
					<a class="button2">
						&nbsp;发送给朋友
					</a>
				</div>
				<div id="share_2" class="share_btn fr">
					<a class="button2">
						&nbsp;分享到朋友圈
					</a>
				</div>
			</div>
		</div>
	</div>
	<script class="js-custom">
		var StoreIScroll;
		function intscroll() {
			StoreIScroll = new IScroll("#store", {disableMouse: !0,disablePointer: !0,preventDefault: 0})
		}
		intscroll();
		$(document).on("tap","#mcover", function(){$(this).remove();});
		$(".share_btn a").on("tap", function() {
			$("#mcover") ? $("body").append('<div id="mcover" >{{ image("store/guide.png") }}</div>') : '';
		});
		$(function(){
			new Swipe(document.getElementById('banner_box'), {
				speed:500,
				auto:3000,
				callback: function(){
					var lis = $(this.element).next("ol").children();
					lis.removeClass("on").eq(this.index).addClass("on");
				}
			});
		});
		function announcement() {
			var ann = {};
			ann.anndelay = 3000;ann.annst = 0;ann.annstop = 0;ann.annrowcount = 0;ann.anncount = 0;ann.annlis = $("#anc").find("li");ann.annrows = new Array();
			ann.getdom = function(id) {
				return !id ? null : document.getElementById(id);
			}
			ann.announcementScroll = function () {
				if(this.annstop) {this.annst = setTimeout(function () {ann.announcementScroll();}, this.anndelay);return;}
				if(!this.annst) {
					var lasttop = -1;
					for(i = 0;i < this.annlis.length;i++) {
						if(lasttop != this.annlis[i].offsetTop) {
							if(lasttop == -1) lasttop = 0;
							this.annrows[this.annrowcount] = this.annlis[i].offsetTop - lasttop;this.annrowcount++;
						}
						lasttop = this.annlis[i].offsetTop;
					}
					if(this.annrows.length > 1) {
						this.annrows[this.annrowcount] = this.annrows[1];
						$("#ancl").html($("#ancl").html() + $("#ancl").html());
						this.annst = setTimeout(function () {ann.announcementScroll();}, this.anndelay);
					}
					this.annrowcount = 1;
					return;
				}
				if(this.annrowcount >= this.annrows.length) {
					ann.getdom("anc").scrollTop = 0;
					this.annrowcount = 1;
					this.annst = setTimeout(function () {ann.announcementScroll();}, this.anndelay);
				} else {
					this.anncount = 0;
					this.announcementScrollnext(this.annrows[this.annrowcount]);
				}
			};
			ann.announcementScrollnext = function (time) {
				ann.getdom("anc").scrollTop++;
				this.anncount++;
				if(this.anncount != time) {
					this.annst = setTimeout(function () {ann.announcementScrollnext(time);}, 10);
				} else {
					this.annrowcount++;
					this.annst = setTimeout(function () {ann.announcementScroll();}, this.anndelay);
				}
			};
			ann.announcementScroll();
		}
		announcement();
		$("#ancl").on("tap", "a[data-ignore=push]", function() {
			document.location.href = $(this).attr("href");
		});
		var imgUrl = BASE_URL + "{{ data['WxDataStore']['FSignPicUrl'] }}",
		lineLink = "{{ wxUrl(baseurlAction, {'appid': appid}) }}",
		shareTitle = "{{ data['WxDataStore']['FName'] }}",
		descContent = "{{ data['WxDataStore']['FMemo'] }}",
		appid = '';

		function shareFriend() {
			WeixinJSBridge.invoke('sendAppMessage',{
				"appid": appid,
				"img_url": imgUrl,
				"img_width": "200",
				"img_height": "200",
				"link": lineLink,
				"desc": descContent,
				"title": shareTitle
			}, function(res) {
				//_report('send_msg', res.err_msg);
			})
		}
		function shareTimeline() {
			WeixinJSBridge.invoke('shareTimeline',{
				"img_url": imgUrl,
				"img_width": "200",
				"img_height": "200",
				"link": lineLink,
				"desc": descContent,
				"title": shareTitle
			}, function(res) {
				//_report('timeline', res.err_msg);
			});
		}
		function shareWeibo() {
			WeixinJSBridge.invoke('shareWeibo',{
				"content": descContent,
				"url": lineLink,
			}, function(res) {
				//_report('weibo', res.err_msg);
			});
		}
		document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
			// 发送给好友
			WeixinJSBridge.on('menu:share:appmessage', function(argv){
				shareFriend();
			});
			// 分享到朋友圈
			WeixinJSBridge.on('menu:share:timeline', function(argv){
				shareTimeline();
			});
			// 分享到微博
			WeixinJSBridge.on('menu:share:weibo', function(argv){
				shareWeibo();
			});
		}, false);
	</script>
</div>
{% endblock %}
