<!DOCTYPE html> 
<html> 
    <head>
	<title>{% block title %}{% endblock %}</title>
	{% block meta %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="author" content="liunian.CakeWX" />
		<meta name="generator" content="www.cakewx.com" />
		<meta name="HandheldFriendly" content="True">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
	{% endblock %}
	{% block head %}
		{{ fetch('css_basic')}}
		{{ fetch('css_extra')}}
		{{ fetch('js_basic')}}
		{{ fetch('js_extra')}}
	{% endblock %}
	</head>
    <body>
		{% block header %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
			<div id='ajcont' style="display:none">
				<div id="aj_box"></div>
			</div>
		{% endblock %}
		{{ cakeStats|raw }}
    </body> 
</html>