{% extends ":Layouts:base.html.twig" %} 
{% block title %}{{ title }}{% endblock %} 
{% block head %} 
	{{ css('Mobile/ratchet.min', {'block': 'css_basic'}) }}
	{{ script('Store/ratchet', {'block': 'js_basic'}) }}
	{{ script('Store/zepto', {'block': 'js_basic'}) }}
	{{ script('Store/common', {'block': 'js_basic'}) }}
	{{ script('Store/swipe', {'block': 'js_basic'}) }}
	{{ script('Store/iscroll.min', {'block': 'js_basic'}) }}
	{{ script('Store/checkform', {'block': 'js_basic'}) }}
	{{ parent() }}
	<script type="text/javascript">
		var BASE_URL = "{{ url('/', true) }}";
		var intaddress = JSON.stringify({"webchatid":"{{ user['FOpenId'] }}","fullname":"{{ user['FullName'] }}","phone":"{{ user['FPhone'] }}","address":"{{ user['FAddress'] }}"});
		storage.setItem("address", intaddress);
	</script>
{% endblock %} 
{% block content %} 
	{{ block ('wrap') }}
{% endblock %}
{% block footer %}
	<nav id="footer" class="bar bar-tab">
	    <a class="tab-item {% if action == '' %}active{% endif %}" href="{{ baseurlAction }}">
	        <span class="icon iconfont">&#xe62a</span>
	        <span class="tab-label">流年</span>
	    </a>
		<a class="tab-item {% if action == 'class' %}active {% endif %}" href="{{ baseurlAction }}/index/class">
			<span class="icon iconfont">&#xe608</span>
			<span class="tab-label">班级</span>
		</a>
	    <a class="tab-item {% if action == 'friends' %}active{% endif %}" href="{{ baseurlAction }}/index/friends">
	        <span class="icon iconfont">&#xe627</span>
	        <span class="tab-label">好友</span>
	    </a>
	    <a class="tab-item {% if action == 'ucenter' %}active{% endif %}" href="{{ baseurlAction }}/index/ucenter">
	        <span class="icon iconfont">&#xe60e</span>
	        <span class="badge disno">5</span>
	        <span class="tab-label">个人中心</span>
	    </a>
	</nav>
	{{ parent() }}
	<div class="ui-mask"></div>
	<div id="attention-dialog" class="attention-layout"></div>
{% endblock %}