{% extends ":Layouts:activity.html.twig" %}

{% block wrap %}
<div class="content-body">
    <div class="swiper-wrapper" id="swiper-wrapper">
        <div class="swiper-slide slide-groupchats" id="group_scroll">
            <div class="slide-wrapper">
                <div class="ui-min-space"></div>
                <div class="ui-title" id="js_time">
                    12:00
                </div>
                <div class="ui-mini-space"></div>
                <div class="ui-desc">
                黑马会会长群 邀请你加入群聊
                </div>
                <div class="ui-min-space"></div>

                <div class="ui-choose-teacher cf fadeIn delay01">
                    <div class="advator">{{ image('activity/jnc.jpg') }}</div>
                    <div class="right">
                        <span class="name">江南春</span>
                        <div class="content_mess">
                            <div class="sanjiao"></div>
                            <p class="deep_gray tip_bg"><span style="color:#007aff">@{{ user['FNickname'] }}</span>  欢迎加入黑马会</p>
                        </div>
                    </div>
                </div>
                <div class="ui-choose-teacher cf fadeIn delay02">
                    <div class="advator">{{ image('activity/nww.jpg') }}</div>
                    <div class="right">
                        <span class="name">牛文文</span>
                        <div class="content_mess">
                            <div class="sanjiao"></div>
                            <p class="deep_gray tip_bg">听说<span style="color:#007aff">@{{ user['FNickname'] }}</span>在做一个会很牛的事，需不需要大家帮忙？</p>
                        </div>
                    </div>
                </div>
                <div class="ui-choose-teacher cf fadeIn  delay03">
                    <div class="advator">{{ image('activity/nww.jpg') }}</div>
                    <div class="right">
                        <span class="name">牛文文</span>
                        <div class="content_mess">
                            <div class="sanjiao"></div>
                            <p class="deep_gray tip_bg">咱们黑马社群覆盖13个行业，24个省市，会员1万多名，黑马基金账上趴着几个亿，咱们要人有人，要钱有钱。加入我们，咱们兄弟们一起成长，听说新地球也知道黑马会？我们抱团走进新世界吧！</p>
                        </div>
                    </div>
                </div>
                <div class="ui-choose-teacher cf fadeIn  delay04">
                    <div class="advator"><img src="/img/activity/avatar/{{ rand_info['name'] }}.png"></div>
                    <div class="right">
                        <span class="name">{{ rand_info['name'] }}</span>
                        <div class="content_mess">
                            <div class="sanjiao"></div>
                            <p class="deep_gray tip_bg">{{ rand_info['value'] }}</p>
                        </div>
                    </div>
                </div>
                <div class="zeo ui-choose-teacher cf fadeIn hide">
                    <div class="advator_r"><img width="68" height="68"  src="{{ user['FHeadimgurl'] }}"></div>
                    <div class="right_r">
                        <span class="name">{{ user['FNickname'] }}</span>
                        <div class="content_mess">
                            <p class="deep_gray tip_bg">WOW! 发生了什么？黑马会是什么？</p>
                            <div class="sanjiao"></div>
                        </div>
                    </div>
                </div>
                <div class="ui-choose-teacher cf fadeIn hide delay02 huizhang">
                    <div class="advator">{{ image('activity/jnc.jpg') }}</div>
                    <div class="right">
                        <span class="name">江南春</span>
                        <div class="content_mess">
                            <div class="sanjiao"></div>
                            <p class="deep_gray tip_bg">
                                            <!-- <span class="ui_title">黑马创业探路的事，我来解决！
                                            </span> -->
                            	<img class="ms_img" src="/img/activity/video.jpg" alt="">
                                <span class="mes_content">
                                    江南春、牛文文、赵文权、盛发强、赵浦、陈昊芝等24位会长推荐XXX入会，领走1000元入会代金券
                                </span>
                            </p>
							<div class="icon"><a href="{{ baseurlAction }}/video"></a></div>
                        </div>
                    </div>
                </div>

                <div class="ui-big-space"></div>
            </div>
        </div>
    </div>
</div>

<div class="ui-alert center delay10 zoomIn">
    <div class="icon delay10 fadeIn">
    </div>
</div>
<div class="ui_bottom"></div>
<audio preload="load" id="jiesuo" class="audio-lazyload" src="/img/activity/jiesuo.mp3"></audio>
<audio preload="load" id="message" class="audio-lazyload" src="/img/activity/message.mp3"></audio>
<script src="/js/Activity/Validform_v5.3.2.js"></script>
{% endblock %}