{% extends ":Layouts:activity.html.twig" %}

{% block wrap %}
<div class="content-body">
    <div class="swiper-wrapper">
       <div class="swiper-slide slide-register">
            <div class="slide-wrapper">
                <div class="ui-small-space"></div>
                <div class="ui-logo cf">{{ image("activity/logo.jpg") }}</div>
                <div class="ui-middle-space"></div>
                <div class="come cf">{{ image("activity/come.png") }}</div>
                <div class="ui-middle-space"></div>
                <div class="person cf">
                    <ul>
                    	{% for key,user in rand_info %}
                    		<li>
                    		    <a href="#">
                    		    	<img src="/img/activity/avatar/{{ user['avatar'] }}.png">
                    		    </a>
                    		    <a href="#">{{ user['name'] }}</a>
                    		</li>
                    	{% endfor %}
                    </ul>
                </div>
                <div class="ui-big-space"></div>
                <div class="join cf">{{ image('activity/join.png') }}</div>
                <div class="ui-middle-space"></div>
               <form action="" class="form" method="post" id="editForm">
                    <div class="formitem cf">
                		<div class="leftlabel name">姓名</div>
                		<div class="formobject"><input type="text" name="name" placeholder="请填写你的姓名"   datatype="/^[\u4E00-\u9FA5\uf900-\ufa2d]{2,15}$/" nullmsg="姓名不可以为空" errormsg="姓名至少2个字,最多15个字！"></div>
            		</div>
            		<div class="formitem cf">
                		<div class="leftlabel mobile">电话</div>
                		<div class="formobject"><input type="text" datatype="m" nullmsg="手机号码不能为空" errormsg="请输入正确的手机号码" name="mobile" placeholder="请填写你的手机号码"></div>
            		</div>
            		<button type="submit" class="submit cf">提交</button>
					<button type="submit" class="submit cf" id="shareout">分享</button>
            	</form>
            </div>
        </div>
    </div>
</div>
<div class="gray_bg hide"></div>
<div class="share_bg hide"></div>
<script src="/js/Activity/Validform_v5.3.2.js"></script>
{% endblock %}