{% extends ":Layouts:activity.html.twig" %}

{% block content %}
<div class="content-body">
    <div class="swiper-wrapper">
       <div class="swiper-slide slide-register">
            <div class="slide-wrapper">
                <div class="ui-small-space"></div>
                <div class="ui-logo cf">{{ image("activity/logo.jpg") }}</div>
                <div class="ui-middle-space"></div>
                <div class="come cf">{{ image("activity/come.png") }}</div>
                <div class="ui-middle-space"></div>
                <div class="person cf">
                    <ul>
                    	{% for key,user in rand_info %}
                    		<li>
                    		    <a href="#">
                    		    	<img src="/img/activity/avatar/{{ user['avatar'] }}.png">
                    		    </a>
                    		    <a href="#">{{ user['name'] }}</a>
                    		</li>
                    	{% endfor %}
                    </ul>
                </div>
                <div class="ui-big-space"></div>
                <div class="join cf">{{ image('activity/join.png') }}</div>
                <div class="ui-middle-space"></div>
               <form action="{{ baseurlAction }}/member-reg" class="form" method="post">
                    <div class="formitem cf">
                		<div class="leftlabel name">姓名</div>
                		<div class="formobject"><input type="text" name="name" placeholder="请填写你的姓名"></div>
            		</div>
            		<div class="formitem cf">
                		<div class="leftlabel mobile">电话</div>
                		<div class="formobject"><input type="text" name="mobile" placeholder="请填写你的手机号码"></div>
            		</div>
            		<button type="submit" class="submit cf">提交</button>
            	</form>
            </div>
        </div>
    </div>
</div>
{% endblock %}